@tailwind base;
@tailwind components;
@tailwind utilities;




.code_markdown:hover >.copy{
  display: block;
}

p{
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;

}

table {
  border-collapse: collapse; /* Ensures that borders between cells are not doubled */
  width: 100%; /* Optional: Sets the table width to 100% */
}

table, th, td {
  border: 1px solid black; /* Sets a 1px solid black border around the table, headers, and cells */
}

th, td {
  padding: 8px; /* Optional: Adds padding to the table cells */
  text-align: left; /* Optional: Aligns the text to the left */
}

h1{
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
h2{
  font-size: 1.7rem;
}
h3{
  font-size: 1.6rem;
}

h4{
  font-size: 1.5rem;
}

h5{
  font-size: 1.4rem;
}


.dark{
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  /* color: red; */
  width: 5px;
  /* background-color: #213547; */
  /* background-color: gray; */

  /* Customize the scrollbar width */
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  /* background-color: #06fdb3; */
  /* Customize the scrollbar track */
  /* color: red; */
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  /* color: black; */
  /* Customize the scrollbar thumb */
}

/* :root { */
/*   color-scheme: light dark; */
/*   color: rgba(255, 255, 255, 0.87); */
/*   background-color: #242424; */
/**/
/*   font-synthesis: none; */
/*   text-rendering: optimizeLegibility; */
/*   -webkit-font-smoothing: antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/* } */


body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* Loader container */
.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue color */
  border-radius: 50%; /* Make it a circle */
  width: 25px; /* Size of the loader */
  height: 25px; /* Size of the loader */
  animation: spin 1s linear infinite;
}

.spinner {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue color */
  border-radius: 50%; /* Make it a circle */

  animation: spin 1s linear infinite;
}
/* Keyframes for the spinning animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}