@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  /* color: red; */
  width: 5px;
  /* background-color: #213547; */
  /* background-color: gray; */

  /* Customize the scrollbar width */
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  /* background-color: #06fdb3; */
  /* Customize the scrollbar track */
  /* color: red; */
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  /* color: black; */
  /* Customize the scrollbar thumb */
}

/* :root { */
/*   color-scheme: light dark; */
/*   color: rgba(255, 255, 255, 0.87); */
/*   background-color: #242424; */
/**/
/*   font-synthesis: none; */
/*   text-rendering: optimizeLegibility; */
/*   -webkit-font-smoothing: antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/* } */


body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* Loader container */
.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue color */
  border-radius: 50%; /* Make it a circle */
  width: 25px; /* Size of the loader */
  height: 25px; /* Size of the loader */
  animation: spin 1s linear infinite;
}

/* Keyframes for the spinning animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}